@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* body,
html {
  width: 100svw;
  height: 100svh;
} */

.header {
  background-color: rgb(17, 17, 17);
  overflow-y: hidden;
}


.aside-block {
  background-color: rgb(17, 17, 17);
}

.aside-hidden {
  display: none;
}

